BACKEND_URL=http://backend:8001/chat

DB_PATH="week_2/data/jobs.db"

DEFAULT_MODEL="gemini-3.1-flash-lite"
DEFAULT_OLLAMA_MODELS="gemma3:1b gemma3:4b"
OLLAMA_HOST=http://ollama:11434

GOOGLE_API_KEY=your_api_key_here
GEMINI_MODELS=["gemini-2.5-flash", "gemini-2.5-flash-lite", "gemini-3-flash-preview", "gemini-3.1-flash-lite"]

# Global Configuration
RETRY_ATTEMPTS=3
RETRY_COOLDOWN=3
