DB_PATH="../week_1/data/3_gold/jobs.db"
DB_PATH_TEST="./data/jobs_d1.db"

DEFAULT_MODEL="llama3.1"
DEFAULT_OLLAMA_MODELS=["llama3.1", "phi3", "deepseek-r1:1.5b"]

GEMINI_API_KEY="your_api_key_here"
GEMINI_MODELS=["gemini-2.5-flash", "gemini-2.5-flash-lite", "gemini-3-flash-preview"]


# General notes on each llm:
# llama3.1 - does it job
# phi3 - yapper - job fail if batch too big
# deepseek - better than phi3 but wrong format

# gemini2.5 - works but getting false negatives in some responses
# gemini2.5-flash - same as gemini-2.5
# gemini3-flash - same issue
#
# additional notes: gemini models arent wrong technically, there arent any tech stacks found in the false negative record
# however it is unable to infer other skills, most likely be put under limitations